[Unit]
Description=Server autosuspend daemon

[Service]
ExecStart=/usr/bin/sh /usr/local/bin/autosuspend.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target

