# Put your custom commands here that should be executed once
# the system init finished. By default this file does nothing.

sleep 10
ip neigh add 192.168.1.101 lladdr 40:61:86:63:db:cc nud permanent dev br-lan
ip neigh add 192.168.1.102 lladdr 00:14:2a:a0:5f:1f nud permanent dev br-lan

/root/bin/autowakeup.sh 192.168.1.101 40:61:86:63:db:cc 10 8080 443 &

exit 0

