[Unit]
Description=Keyboard repeat rate in tty.

[Service]
Type=oneshot
ExecStart=/usr/bin/kbdrate -d 400 -r 30

[Install]
WantedBy=multi-user.target

