#!/bin/sh
exec 2>&1
sv once startup-init
sleep 1
for script in $(find /usr/local/bin/startup-init/ -type f)
do
    [ -x "$script" ] && "$script"
done
sleep 1

