[Unit]
Description=Swap Ctrl and Caps Lock keys

[Service]
Type=oneshot
ExecStartPre=/usr/bin/sleep 1
ExecStart=/usr/bin/loadkeys /etc/ctrl-caps-swap.map
After=systemd-vconsole-setup.service

[Install]
WantedBy=default.target

