[Unit]
Description=Keyboard repeat rate in tty.

[Service]
Type=oneshot
ExecStart=/usr/bin/kbdrate -d 250 -r 15

[Install]
WantedBy=multi-user.target

